# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SoftwareHandInDecember9Cpp/v16/.suo
.vs/SoftwareHandInDecember9Cpp/v16/Browse.VC.db
.vs/VSWorkspaceState.json
~$ftware Notes.docx
~WRL0159.tmp
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1.vcxproj.user
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1.vcxproj.filters
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1.vcxproj
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427Dec9SoftwareAssessmentR1.log
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427Dec9SoftwareAssessmentR1.exe.recipe
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/WS325427Dec9SoftwareAssessmentR1.lastbuildstate
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/link.write.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/link.read.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/link.command.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/CL.write.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/CL.read.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/WS325427.6e833326.tlog/CL.command.1.tlog
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/vc142.pdb
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1/Debug/vc142.idb
WS325427Dec9SoftwareAssessmentR1/WS325427Dec9SoftwareAssessmentR1.sln
WS325427Dec9SoftwareAssessmentR1/Debug/WS325427Dec9SoftwareAssessmentR1.pdb
WS325427Dec9SoftwareAssessmentR1/Debug/WS325427Dec9SoftwareAssessmentR1.ilk
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/ipch/AutoPCH/5c6d13d67c48d4f4/WS325427DEC9SOFTWAREASSESSMENTR1.ipch
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/Browse.VC.opendb
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/Browse.VC.db-wal
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/Browse.VC.db-shm
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/Browse.VC.db
WS325427Dec9SoftwareAssessmentR1/.vs/WS325427Dec9SoftwareAssessmentR1/v16/.suo
.vs/WS325427Dec9SoftwareAssessment/v16/.suo
.vs/WS325427Dec9SoftwareAssessment/v16/Browse.VC.db
